@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --newsweek-red-color: #f72210;
  --header-btn-color: #ffe400;
  --social-icons-color: #666;
  --social-icons-hover-color: #3b5998;
  --side-links-hover-color: #f92859;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

.fab {
  font-size: 1.5rem;
}

.top-btn-group button {
  background: none;
  border: none;
  margin: 0 5px;
}

.top-btn-group button i {
  color: #bbb;
}

#sub-btn {
  background-color: var(--header-btn-color);
  border-radius: 24px;
  padding: 2px 12px;
  font-weight: bold;
}

.logo-section {
  background-color: var(--newsweek-red-color);
  padding: 0 10px;
  height: 50px;
}

.logo-top {
  padding-left: 15px;
}

.brand {
  width: 140px;
}

#header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.img-btm-text {
  background-color: white;
  width: fit-content;
  opacity: 0.8;
  margin-bottom: 0 !important;
  z-index: 1;
}

.img-btm-text:hover {
  text-decoration: none;
}

.red-underlined-link:hover {
  text-decoration-color: #f72210;
}

.w-fit-content {
  width: fit-content;
}

.w-15 {
  width: 15%;
}

.separator {
  height: 18px;
  background-color: #f4f5f7;
  border-top: 1px solid #e2e2e2;
  width: 100%;
  margin: 2rem 0;
}

.debate-top-border {
  border-top: #f92859 4px solid;
}

.debate-bottom-border {
  border-bottom: #1c87fb 4px solid;
}

.red-on-hover:hover {
  text-decoration: none;
}

.vs {
  margin: 1rem 0;
  height: 3px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.vs-text {
  background-color: black;
  border-radius: 50%;
  padding: 0.3rem;
  color: white;
}

.subscribe-img-1 {
  top: 1.8rem;
  left: 40%;
}

.subscribe-img-2 {
  top: 3rem;
  left: 60%;
}

.subscribe-content {
  padding-top: 60%;
  padding-bottom: 1rem;
}

footer {
  font-size: 0.9em;
}

.footer-logo {
  width: 240px;
  fill: white;
}