@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --newsweek-red-color: #f72210;
  --header-btn-color: #ffe400;
  --social-icons-color: #666;
  --social-icons-hover-color: #3b5998;
  --side-links-hover-color: #f92859;
}

img {
  width: 100px;
  height: 100px;
}

li {
  list-style: none;
}

.top-btn-group button {
  background: none;
  border: none;
  margin: 0 5px;
}

.top-btn-group button i {
  color: #bbb;
}
#sub-btn {
  background-color: var(--header-btn-color);
  border-radius: 24px;
  padding: 2px 12px;
  font-weight: bold;
}
.logo-section {
  background-color: var(--newsweek-red-color);
  padding: 0 10px;
  height: 13vh;
}

.logo-top {
  padding-left: 15px;
}

.brand {
  fill: white;
  width: 140px;
}

#header {
  position: fixed;
  width: 100%;
  z-index: 1;
}
